<div class="mobile-filters">
    <div style="background: #FFFFFF">
        <div class="filters-header">
            <div class="simple-word" style="width: 30%; cursor: pointer; text-align: left">
                Annulla
            </div>
            <div class="title" style="width: 40%">
                FILTRI
            </div>
            <div style="width: 30%; text-align: right">
                <button (click)="removeFilters()" [style.opacity]="filterDiff ? '0.3' : '1'"
                        [disabled]="filterDiff"
                        style="background: transparent; cursor: pointer; border: none; outline: none">
                    <span class="simple-word">Rimuovi filtri</span>
                </button>
            </div>
        </div>
        <div class="causale">
            <div class="title">
                Causale
            </div>
            <div class="simple-word causali-list" style="cursor: pointer; margin-top: 10px" (click)="goToCausali()">
                <div style="width: 80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    {{showFilter}}
                </div>
                <div>
                    <img src="./assets/svg/arrow_right.svg" slot="end">
                </div>
            </div>
            <div style="display: flex; flex-direction: row; padding-top: 8px; padding-bottom: 8px"
                 (click)="checkMinigames()">
                <div>
                    <input type="checkbox" [checked]="ltmSearchbarMobileService.miniGames">
                </div>
                <div style="margin-left: 10px">
                    Non visualizzare le giocate <b>Mini Games</b>
                </div>
            </div>
        </div>
        <div class="esiti">
            <div class="title">
                Esiti
            </div>
            <div class="simple-word esiti-chip" style="margin-top: 10px">
                <div class="scrollable">
                    <mat-chip-list>
                        <mat-chip
                                *ngFor="let chip of ltmSearchbarMobileService.esitiChips"
                                [class]="chip.checked ? 'esiti-chip-material-selected' : 'esiti-chip-material'"
                                (click)="onClickEsiti(chip)">
                            {{chip.value}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="periodo">
            <div class="title">
                Periodo
            </div>
            <div class="periodo-boxes">
                <div class="perido-boxes-row">
                    <div [class]="isSelected(0) ? 'box-selected' : 'box'"
                         (click)="selectRange(0)">
                        {{ltmSearchbarMobileService.rangeTemporale[0].value}}
                    </div>
                    <div [class]="isSelected(1) ? 'box-selected' : 'box'"
                         (click)="selectRange(1)">
                        {{ltmSearchbarMobileService.rangeTemporale[1].value}}
                    </div>
                    <div [class]="isSelected(2) ? 'box-selected' : 'box'"
                         (click)="selectRange(2)">
                        {{ltmSearchbarMobileService.rangeTemporale[2].value}}
                    </div>
                </div>
                <div class="perido-boxes-row">
                    <div [class]="isSelected(3) ? 'box-selected' : 'box'"
                         (click)="selectRange(3)">
                        {{ltmSearchbarMobileService.rangeTemporale[3].value}}
                    </div>
                    <div [class]="isSelected(4) ? 'box-selected' : 'box'"
                         (click)="selectRange(4)">
                        {{ltmSearchbarMobileService.rangeTemporale[4].value}}
                    </div>
                    <div [class]="isSelected(5) ? 'box-selected' : 'box'"
                         (click)="selectRange(5)">
                        {{ltmSearchbarMobileService.rangeTemporale[5].value}}
                    </div>
                </div>
            </div>
            <div class="text-info">
                *Scegliendo il periodo 12 mesi, visualizzerà le
                movimentazioni degli ultimi 6 mesi, solo per Lotteria Italia avrai
                uno storico di 12 mesi.
            </div>
            <div [style.marginTop]="'8px'">
                <button style="cursor: pointer"
                        [class]="dateActive ? 'open-datepicker-btn-selected' : 'open-datepicker-btn'"
                        (click)="onClickPersonalizza()">
                    PERSONALIZZA DATA
                </button>
                <hr class="solid" style="margin-top: 2em"
                    *ngIf="ltmSearchbarMobileService.startDate && ltmSearchbarMobileService.endDate">
                <div *ngIf="(ltmSearchbarMobileService.startDate && ltmSearchbarMobileService.endDate)">
                    <div style="display: flex; flex-direction: column; height: 100%" *ngIf="innerWidth < 500; else smallSizes">
                        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between">
                            <div style="max-width: 150px; display: flex; flex-direction: column;">
                                <div>
                                    <!-- Se data corretta, nessuno messaggio e outline grigie -->
                                    <mat-form-field appearance="outline" style="width: 100%">
                                        <mat-label class="from-to">Dal</mat-label>
                                        <input matInput placeholder="GG/MM/AAAA"
                                               maxlength="10"
                                               [OnlyNumber]="true"
                                               [(ngModel)]="this.ltmSearchbarMobileService.startDate"
                                               (ngModelChange)="onChangeStartDate($event)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div style="max-width: 150px; display: flex; flex-direction: column;">
                                <div>
                                    <!-- Se data errata, messaggio rosso sotto ed le outline di entrambi i campi rosse -->
                                    <mat-form-field appearance="outline" style="width: 100%;" class="border-red">
                                        <mat-label class="from-to">Al</mat-label>
                                        <input matInput placeholder="GG/MM/AAAA" maxlength="10"
                                               [OnlyNumber]="true"
                                               [(ngModel)]="this.ltmSearchbarMobileService.endDate"
                                               (ngModelChange)="onChangeEndDate($event)">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- Esempio statico di errore sulla data -->
                            <small style="color: red">Attenzione, hai inserito un periodo temporale non valido</small>
                        </div>
                    </div>
                    <ng-template #smallSizes>
                        <div style="display: flex; flex-direction: column; height: 100%;">
                            <div style="display: flex; flex-direction: row; width: 100%;">
                                <div style="max-width: 150px; display: flex; flex-direction: column;">
                                    <div>
                                        <mat-form-field appearance="outline" style="width: 100%">
                                            <mat-label class="from-to">Dal</mat-label>
                                            <input matInput placeholder="GG/MM/AAAA"
                                                   maxlength="10"
                                                   [OnlyNumber]="true"
                                                   [(ngModel)]="this.ltmSearchbarMobileService.startDate"
                                                   (ngModelChange)="onChangeStartDate($event)">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="max-width: 150px; display: flex; flex-direction: column; margin-left: 10px">
                                    <div>
                                        <mat-form-field appearance="outline" style="width: 100%;" class="border-red">
                                            <mat-label class="from-to">Al</mat-label>
                                            <input matInput placeholder="GG/MM/AAAA" maxlength="10"
                                                   [OnlyNumber]="true"
                                                   [(ngModel)]="this.ltmSearchbarMobileService.endDate"
                                                   (ngModelChange)="onChangeEndDate($event)">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- Esempio statico di errore sulla data -->
                                <small style="color: red">Attenzione, hai inserito un periodo temporale non valido</small>
                            </div>

                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-imposta-filtri-container">
        <button style="cursor: pointer" class="cta-imposta-filtri"
                [style.opacity]="disabledImpostaFiltri ? '0.3' : '1' "
                [disabled]="disabledImpostaFiltri">
            IMPOSTA FILTRI
        </button>
    </div>
</div>
