.mobile-filters {
  // max-width: 360px;
  width: 100%;
  min-height: 668px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto Condensed';
  background: #E5EFF6;

  .simple-word {
    line-height: 16px;
    font-size: 12px;
    letter-spacing: normal;
    color: #0060AD;
  }

  .title {
    color: #0060AD;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
  }

  .filters-header {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 40px;
    background: #FFFFFF;
    align-items: center;
    box-shadow: 0 1px rgba(157, 157, 157, 0.5);
  }

  .causale {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 75px;
    width: 100%;
    border-bottom: 1px solid rgba(157, 157, 157, 0.3);

    .title {
      color: #4D4D4D;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
    }

    .causali-list {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  .esiti {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 89px;
    width: 100%;
    border-bottom: 1px solid rgba(157, 157, 157, 0.3);

    .title {
      color: #4D4D4D;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
    }

    .mat-chip-list-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin: -4px;
    }

    .scrollable {
      white-space: nowrap;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      .esiti-chip-material {
        background: #E5EFF6;
        color: #0060AD;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
      }

      .esiti-chip-material-selected {
        color: #FFFFFF;
        background: #0060AD;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
      }
    }
  }

  .periodo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 229px;
    width: 100%;
    border-bottom: 1px solid rgba(157, 157, 157, 0.3);

    .title {
      color: #4D4D4D;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
    }

    .periodo-boxes {
      padding: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 10px;

      .perido-boxes-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .box {
        width: 33%;
        height: 35px;
        border: 1px solid #0060AD;
        box-sizing: border-box;
        color: #0060AD;
        border-radius: 2px;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        text-align: center;
        align-content: center;
        display: grid;
        margin: 6px;
        cursor: pointer;
      }

      .box-selected {
        width: 33%;
        height: 35px;
        background: #0060AD;
        box-sizing: border-box;
        color: #FFFFFF;
        border-radius: 2px;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        text-align: center;
        align-content: center;
        display: grid;
        margin: 6px;
        cursor: pointer;
      }
    }

    .text-info {
      margin-top: 8px;
      color: #9D9D9D !important;
      font-size: 12px;
      letter-spacing: -0.4px;
      line-height: 15px;
    }

    .open-datepicker-btn {
      color: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      height: 35px;
      text-transform: uppercase;
      background: transparent;
      border: 1px solid #0060AD;
      border-radius: 2px;
      outline: none !important;
      font-family: "Roboto Condensed" !important;
    }

    .open-datepicker-btn-selected {
      color: #FFFFFF;
      background: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      width: 100%;
      height: 35px;
      text-transform: uppercase;
      border-radius: 2px;
      outline: none !important;
      font-family: "Roboto Condensed" !important;
      border: none;
    }
  }

  .cta-imposta-filtri-container {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    background: #E5EFF6;
  }

  .cta-imposta-filtri {
    width: 100%;
    height: 40px;
    background: #0060AD;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none !important;
    text-align: center;
    border: none;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    font-size: 12px;
  }

  .from-to {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    color: #333333;
  }

  input[type=checkbox]:after {
    border-radius: 0 !important;
    border: 1px solid #9D9D9D;
  }

  input[type=checkbox]:checked:before {
    top: -1px !important;
  }

  input[type=checkbox]:checked:after {
    border: 1px solid #0060AD;
  }

  .mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
    border-color: rgb(63, 81, 181);
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 10px !important;
  }

  $color-outline: #FF0000;

  mat-form-field {
    &.border-red {
      .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
        border-color: $color-outline !important;
      }

      .mat-form-field-outline-gap {
        border-bottom-color: $color-outline !important;
        border-top-color: transparent !important;
      }

      .mat-form-field-label {
        color: $color-outline !important;
      }
    }
  }

}
