<!-- ATTENZIONE: Come richiesto, in una prima fase non ci sarà la selezione multipla delle causali.
 Quindi non dovrà comparire la checkbox inizialmente -->
<div class="mobile-causali">
    <div class="mobile-causali-header" style="height: 40px">
        <div class="simple-word" (click)="goBack()" style="width: 30%; cursor: pointer; text-align: left">
            Annulla
        </div>
        <div class="title" style="width: 40%">
            CAUSALE
        </div>
        <div style="width: 30%; text-align: right">
            <button (click)="resetFilter()" [disabled]="filterDisabled" [style.opacity]="filterDisabled ? '0.3' : '1'"
                    style="background: transparent; cursor: pointer; border: none; outline: none">
                <span class="simple-word">Rimuovi filtri</span>
            </button>
        </div>
    </div>
    <div class="mobile-causali-search">
        <label>
            <input type="text" alt=""
                   placeholder="Cerca..."
                   name="filter-causali"
                   [(ngModel)]="filterSearch" (ngModelChange)="filter($event)">
            <img src="./assets/svg/search.svg" alt=""/>
        </label>
    </div>
    <div *ngIf="filterSearch === ''; else filterSearchTpl">
        <div class="selected-causali">
            <div class="title-selected">
                Causale selezionato
            </div>
            <div class="causali-selected" *ngIf="causaliFilter.length > 0">
                <div class="causali-selected-list-item" *ngFor="let causale of causaliFilter"
                     (click)="selectCausale(causale)">
                    <div [style.color]="causale.checked ? '#0060AD' : '#3A405B'">
                        {{causale.value}}
                    </div>
                    <div>
                        <input class="checkbox-select" type="checkbox"
                               [checked]="causale.checked">
                    </div>
                </div>
            </div>
        </div>
        <div class="lista-causali">
            <div class="title-list">
                Lista causali
            </div>
            <div class="causali-select-list" *ngIf="causaliTmp.length > 0">
                <div class="causali-select-list-item"
                     *ngFor="let causale of causaliTmp" (click)="selectCausale(causale)">
                    <div>
                        {{causale.value}}
                    </div>
                    <div>
                        <input type="checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #filterSearchTpl>
        <div class="causali-select-list-filter" *ngIf="filterSearchResult.length > 0; else noResults">
            <div class="causali-select-list-filter-item" *ngFor="let causale of filterSearchResult"
                 (click)="selectCausale(causale)">
                <div>
                    {{causale.value}}
                </div>
                <div>
                    <input type="checkbox" [checked]="causale.checked">
                </div>
            </div>
        </div>
        <ng-template #noResults>
            <div class="no-results">
                Nessun risultato trovato
            </div>
        </ng-template>
    </ng-template>

    <div class="footer-causali-save">
        <button style="cursor: pointer"
                class="footer-causali-save-btn" (click)="saveFilter()"
                [style.opacity]="filterDisabled || causaliFilter.length === 0 ? '0.3' : '1'"
                [disabled]="filterDisabled || causaliFilter.length === 0">
            SALVA
        </button>
    </div>
</div>
