.mobile-causali {
  width: 100%;
  min-height: 668px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto Condensed';

  .simple-word {
    line-height: 16px;
    font-size: 12px;
    letter-spacing: normal;
    color: #0060AD;
  }

  .title {
    color: #0060AD;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
  }

  .mobile-causali-header {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 40px !important;
    background: #FFFFFF;
    align-items: center;
    box-shadow: 0 1px rgba(157, 157, 157, 0.5);
  }

  .mobile-causali-search {
    width: 100%;
    height: 50px;
    position: relative;

    input {
      width: 100vw;
      border: none;
      height: 50px;
      opacity: 0.5;
      color: #3A405B;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
      padding-left: 10px;
      outline: none !important;
    }

    img {
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }

  .selected-causali {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title-selected {
      height: 40px;
      width: 100%;
      background: #E5EFF6;
      color: #4D4D4D;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0;
      display: flex;
      line-height: 14px;
      align-items: center;
      padding-left: 10px;
    }

    .causali-selected {
      display: flex;
      flex-direction: column;
      height: auto;

      .causali-selected-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid rgba(157, 157, 157, 0.5);
        color: #333333;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
      }
    }
  }

  .lista-causali {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .title-list {
      height: 40px;
      width: 100%;
      background: #E5EFF6;
      color: #4D4D4D;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0;
      display: flex;
      line-height: 14px;
      align-items: center;
      padding-left: 10px;
    }

    .causali-select-list {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin-bottom: 100px;

      .causali-select-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid rgba(157, 157, 157, 0.5);
        color: #333333;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
      }
    }
  }

  .causali-select-list-filter {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .causali-select-list-filter-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      height: 40px;
      border-bottom: 1px solid rgba(157, 157, 157, 0.5);
      color: #333333;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
      cursor: pointer;
    }
  }

  .no-results {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
  }

  .footer-causali-save {
    width: 100%;
    height: 95px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #E5EFF6;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-causali-save-btn {
      width: 100%;
      height: 40px;
      font-size: 12px;
      background: #0060AD;
      color: #FFFFFF;
      text-transform: uppercase;
      outline: none !important;
      text-align: center;
      border: none;
      font-weight: bold;
      font-family: 'Roboto Condensed';
    }
  }

  input[type=checkbox]:after {
    border-radius: 0 !important;
    border: 1px solid #9D9D9D;
  }

  input[type=checkbox]:checked:before {
    top: -1px !important;
  }

  input[type=checkbox]:checked:after {
    border: 1px solid #0060AD;
  }
}
