::ng-deep {

  .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    background: #fff;
    color: rgba(0, 0, 0, .87);
    padding: 12px !important;
    border-radius: 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 10px !important;
  }

  .md-drppicker .calendar td {
    color: #333333;
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    height: 35px;
  }

  .md-drppicker td.in-range {
    background: #E5EFF6 !important;
  }

  .md-drppicker td.start-date {
    border-radius: 50% !important;
    background: #0060AD !important;
  }

  .md-drppicker td.end-date {
    border-radius: 50% !important;
    background: #0060AD !important;
  }

  .mat-form-field-infix {
    margin-bottom: 5px !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-outline-start {
    border-radius: 0 !important;
    border-color: rgb(63, 81, 181);
  }

  .mat-form-field-appearance-outline.mat-form-field-outline-end {
    border-radius: 0 !important;
    border-color: rgb(63, 81, 181);
  }

  .md-drppicker.ltr .ranges {
    float: left;
    width: 40px;
  }

  .md-drppicker .calendar {
    width: 280px;
  }

  .md-drppicker .calendar td, .md-drppicker .calendar th {
    // min-width: 36px !important;
    // min-height: 36px !important;
  }

  .md-drppicker .calendar-table {
    padding: 0 !important;
  }

  .md-drppicker.ltr .calendar.right {
    margin-left: 0;
    display: none;
  }

  .md-drppicker.ltr {
    box-shadow: none;
  }

  .md-drppicker th.month {
    color: #333333;
    font-family: 'Roboto Condensed' !important;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: normal;
  }

  .md-drppicker td, .md-drppicker th {
    border: none !important;
  }

  .md-drppicker th {
    color: #9D9D9D;
    font-family: "Roboto Medium";
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
    font-weight: normal;
  }

  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .md-drppicker.ltr .calendar .calendar-table {
    width: 100%;
    margin-left: 10px;
  }

  .md-drppicker.double {
    width: 100% !important;
  }

  .cdk-overlay-pane {
    max-width: 100% !important;
  }

  .btn-confirm {
    color: #FFFFFF;
    background: #0060AD;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    height: 40px;
    text-transform: uppercase;
    outline: none !important;
    border: none;
    width: 160px;
    font-family: 'Roboto Condensed';
  }

  .btn-close {
    color: #0060AD;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: none;
    outline: none !important;
    font-family: 'Roboto Condensed';
  }

  .btn-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    font-family: 'Roboto Condensed';
  }

  .from-to {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    color: #333333;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .mat-form-field-outline-start, .mat-form-field-outline-end {
    border-radius: 0 !important;
  }
}
