<div class="content">
    <form [formGroup]="dateForm">
        <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
            <div style="width: 100%; display: flex; justify-content: flex-start">
                <mat-form-field appearance="outline" style="width: 145px; margin-left: 5px;">
                    <mat-label class="from-to">Dal</mat-label>
                    <input matInput
                           formControlName="startDate"
                           maxlength="10"
                           autocomplete="off"
                           [(ngModel)]="startDate"
                           (ngModelChange)="onChangeStartDate($event)"
                           placeholder="GG/MM/AAAA"
                           [OnlyNumber]="true">
                </mat-form-field>
            </div>
            <div style="width: 100%; display: flex; justify-content: flex-start">
                <mat-form-field appearance="outline" style="width: 145px">
                    <mat-label class="from-to">Al</mat-label>
                    <input matInput
                           formControlName="endDate"
                           maxlength="10"
                           autocomplete="off"
                           [(ngModel)]="endDate"
                           (keyup.enter)="clickEnter($event)"
                           (ngModelChange)="onChangeEndDate($event)"
                           placeholder="GG/MM/AAAA"
                           [OnlyNumber]="true">
                </mat-form-field>
            </div>
        </div>
    </form>
    <hr style="width: 100%; margin-top: 0 !important; border-top: 1px solid #EEEFF0;">
    <div>
        <ngx-daterangepicker-material
            #calendar
            [autoUpdateInput]="true"
            [autoApply]="true"
            [singleDatePicker]="false"
            [keepCalendarOpeningWithRange]="true"
            [maxDate]="today"
            [locale]="localeOptions"
            [startDate]="startDateMoment ? startDateMoment : null"
            [endDate]="endDateMoment ? endDateMoment : null"
            (startDateChanged)="startDateChange($event, calendar)"
            (endDateChanged)="endDateChange($event)"
            (choosedDate)="choosedDate($event)">
        </ngx-daterangepicker-material>
    </div>
    <div class="btn-display">
        <div style="width: 100%; display: flex; justify-content: flex-start">
            <button type="button" class="btn-close" (click)="close()">ANNULLA</button>
        </div>
        <div style="width: 100%; display: flex; justify-content: flex-start">
            <button type="button" class="btn-confirm"
                    [style.opacity]="errorsValidity ? '0.3' : '1'"
                    [disabled]="errorsValidity"
                    (click)="close(endDate, startDate)">SALVA
            </button>
        </div>
    </div>
</div>
