/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "styles/variables";
@import "styles/ltm-theme";

//MOBILE
html,body{
  height:100%;
  font-family: 'Roboto Condensed', Helvetica;
}
*{
  font-family: 'Roboto Condensed', Helvetica;
}

body{
  // background:#cdcdcd;
  margin: 0;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,close
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  -webkit-appearance: none;
  &::-ms-clear{
    display: none;
  }
  &::-ms-reveal{
    display: none;
  }
}

label{
  margin-bottom: 0!important;
  // color: #C0C0C0;
  font-size: 13px;
  font-weight: normal;
  line-height: 12px;

  span{
    font-size: 14px;
    line-height: 27px;
    color: #4D4D4D;
    font-weight: normal;
  }
}

label.custom-control-label{
  &:before{
    display: none;
  }
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  opacity: 1!important;
  z-index: 1;
  &:focus {
    outline: none;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include transition(240ms);
  }
  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: $brand-primary;
    @include scale(0);
  }
  &:after {
    position: relative;
    top: -3px;
    border: 1px solid $gray;
  }
  &:checked:before {
    @include scale(0.5);
  }
  &:disabled:checked:before {
    background-color: $gray-light;
  }
  &:checked:after {
    border-color: $brand-primary;
  }
  &:disabled:after,
  &:disabled:checked:after {
    border-color: $gray-light;
  }
}
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:focus:after {
    // border-color: $brand-primary;
  }
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    // margin-right: 5px;
    border: 2px solid $gray;
    border-radius: 2px;
    @include transition(240ms);
  }
  &:checked:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #303590;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:disabled:after {
    border-color: $gray-light;
  }
  &:disabled:checked:after {
    background-color: $gray-light;
    border-color: transparent;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield!important;
}

//BUTTON
.standard-btn{
  display: block!important;
  border: 1px solid #C0C2DD!important;
  background-color: transparent!important;
  color: #303591!important;
  font-size: 14px!important;
  font-weight: bold!important;
  line-height: 18px !important;
  text-align: center !important;
  padding: 14px 20px !important;
  margin-top: 20px!important;
  margin-bottom: 30px!important;
  &:hover{
    background-color: #D9DBEA !important;
    border-color: #D9DBEA !important;
    text-decoration: none;
  }
  &--yellow{
    border: 1px solid #FFF01E!important;
    background-color: #FFF01E!important;
    &:hover{
      background-color: #F2E31C !important;
      border-color: #F2E31C !important;
      text-decoration: none!important;
    }
  }

  &--transparent{
    border: 1px solid #303591!important;
    background-color: transparent!important;
    color: #303591;
    &:hover{
      background-color: #303591 !important;
      border-color: #303591 !important;
      text-decoration: none!important;
      color: #ffffff!important;
    }
  }

  &--no-border{
    border: none!important;
    background-color: transparent!important;
  }
  &[disabled] {
    opacity: 0.7;
  }
}

.mobile-modals{
  max-width: 414px;
  // height:100%;
  background: #fff;

  .modal-dialog{
    width: 100%!important;
  }


  // ERROR FORM
  .form-group {
    position: relative!important;

    span.message-error {
      // display: none;
    }
    .wrapper-captcha {
      display: none;
    }
    .send-again {
      //position: absolute;
      bottom: 25px;
      right: 0;
      color: #303590!important;
      text-decoration: none;
      font-size: 11px;
    }
  }

  .form-group--error {
    position: relative!important;
    input {
      // border: none;
      // border-bottom: 2px solid #DC1E35!important;
    }
    input.input-error {
      border: none;
      border-bottom: 2px solid #DC1E35!important;
    }
    .alert-ico {
      position: absolute;
      bottom: 36px;
      right: 0;
    }
    label{
      color: #DE263C!important;
    }
    span.message-error {
      display: block;
      color: #DE263C!important;
      font-size: 12px;
      line-height: 14px;
      padding: 0;
      margin: -12px 0 0 0;
      text-align: left!important;
    }
    .wrapper-captcha {
      display: block!important;
      margin-top: 20px;
      span.antispam {
        color: #333333;
        font-size: 12px;
        line-height: 16px;
        text-align: left!important;
        display: block;
        margin: 10px 0;
      }
      .wrapper-captcha--sx {
        width: 182px;
        height: 35px;
      }
      a {
        font-size: 14px!important;
        line-height: 14px!important;
        text-decoration: none!important;
      }
      input.captcha {
        display: inline;
        width: calc(100% - 174px);
        background-color: #ffffff;
        padding: 8px 10px;
        color: #333333;
        font-size: 12px;
        line-height: 14px;
        background-image: none;
        border: 1px solid #dfe3e9;
        -webkit-appearance: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        // margin-bottom: 10px;
      }
    }
  }

  .input-search {
    position: relative;
    z-index: 2;
    &__icon {
      position: absolute;
      top: 9px;
      left: 8px;
      z-index: 9;
    }
    &__close{
      position: absolute;
      top: 12px;
      right: 8px;
      z-index: 9;
      img {
        display: block
      }
    }
    &__field {
      background-color: #fff;
      width: 100%;
      height: 40px;
      border-radius: 4px !important;
      border: 1px solid #ECAF1D !important;
      box-shadow: 0 0 0 !important;
      padding:0 10px 0 35px!important;
      color:#4D4D4D;
      font-size: 14px;
      &::-ms-clear {
        display: none !important;
      }
      &::placeholder {
        color:rgb(139, 139, 139);
        font-size: 14px;
      }
      &:focus {
        box-shadow: 0 0 0 !important
      }
    }
  }


  .modal-recupero-psw{
    height: 100vh;
    position: relative;
    min-height: 500px;
    //height: calc(100vh - 34px);
    //background: red;
    .modal-header{
      padding: 15px 20px 20px 20px;
      border-bottom: none;
      a{
        // display: inline-block;
        color: #4D4D4D;
        font-size: 14px;
        line-height: 20px;
      }
      .back{
        text-decoration: none;
        text-transform: uppercase;
        &__ico-arrow{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Safari 3-8 */
          transform: rotate(180deg);
          height: 14px;
          margin-top: -2px;
        }
      }
      .close{
        float: right;
        -webkit-appearance: none;
        opacity: 1;
        font-size: 1px;
        line-height: 1px;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        border: none;
        background-color: transparent;
      }
    }
    .modal-body{
      position: static;
      // height:100%;
      padding: 0 20px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      color: #4D4D4D;
      .container-fluid{
        padding: 0;
        margin-left: -20px;
        width: calc(100% + 40px);
      }

      h2{
        color: #222328;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        margin: 10px 0;
        // margin: 20px 0 15px 0;
        padding: 0;
      }
      .subtitle{
        color: #4D4D4D;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        display: block;
      }
      a{
        color: #4D4D4D;
        &:hover{
          color: #4D4D4D;
        }
      }
      &__content{
        padding-top: 15px;
        text-align: left;
        // height: calc(100vh - 202px);

        &--start{
          height: calc(100vh - 142px);
          min-height: 500px;
          margin-left: -20px;
          width: calc(100% + 40px);
        }

        .ico-small{
          margin: 5px 5px 0 0;
          vertical-align: top;
        }

        .nav>li{
          border: 1px solid #303591;
          &:nth-of-type(2){
            border-left: none;
            border-right: none;
          }
        }

        .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
          display: none;
        }

        .mat-tab-list{
          width: 100%;
        }

        .mat-tab-label{
          min-width: auto;
          width: 34%;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          white-space: normal;
          border: 1px solid #303591;
          opacity: 1;
          padding: 0 10px;
          &:nth-child(2) {
            border-left: 0;
            border-right: 0;
          }
          &-content{
            white-space: normal;
          }
        }

        .mat-tab-label-active{
          background-color: #303591;
          color: #ffffff;
        }

        .mat-radio-outer-circle{
          position: relative;
        }

        .nav>li>a{
          padding: 10px 0;
          color: #222328;
          font-size: 12px;
          font-weight: normal;
        }

        .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
          border: 0;
          border-radius: 0;
          color: #ffffff;
        }
        .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
          background-color: #303591;
          border: 1px solid #303591;
        }

        @media (min-width: 320px){
          .nav-tabs.nav-justified>li {
            display: table-cell!important;
            width: 1%!important;
            a{
              margin-bottom: 0!important;
            }
          }
        }

        input{
          // border-radius: 0;
          // height: 35px;
          // width: 100%;
          // padding: 0;
          // border: none;
          // border-bottom: 2px solid #DBDBDB;
          // box-shadow:none;
          &::-ms-clear {
            display: none;
          }
          // &:focus{
          //   box-shadow: inset 0 -2px 0 #303590;
          //   outline: none;
          // }
        }

        input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
          // position: relative;
          // margin-top: 6px;
          // margin-right: 4px;
          // padding: 0;
          // width: auto;
          // height: auto;
          // vertical-align: top;
          // border: none;
          // background-color: transparent;
          // -webkit-appearance: none;
          // appearance: none;
          // cursor: pointer;
          // box-shadow:none;
        }

        input[type="radio"]:checked:before, .radio input[type="radio"]:checked:before, .radio-inline input[type="radio"]:checked:before {
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          opacity: 0.5;
          color: #4D4D4D;
          font-size: 15px;
          line-height: 16px;
          font-weight: normal;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          opacity: 0.5;
          color: #4D4D4D;
          font-size: 15px;
          line-height: 16px;
          font-weight: normal;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
          opacity: 0.5;
          color: #4D4D4D;
          font-size: 15px;
          line-height: 16px;
          font-weight: normal;
        }

        .form-control-feedback {
          top: 3px!important;
        }

        .radio-text{}

        .radio-text-tworow{
          display: inline-block;
          margin-top: -10px;
        }

        .gif-load{
          display: block;
          margin: 0 auto;
        }

        .wrapper-final-btn{
          position: relative;
          bottom: 20px;
          width: calc(100% - 40px);
          background: #ffffff;
        }
      }

      .modal-body__content--thanks{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }

      .modal-body__content--radio{
        label{
          display: block;
          margin-bottom: 30px!important;
        }
      }

      .link-both-contact{
        color: #303591;
        font-size: 14px;
        // font-weight: bold;
        line-height: 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        &:hover, &:active{
          color: #303591;
        }
      }

      .md-tabs {
        flex-direction: row;
      }

      ul{
        padding: 0;
        text-align: left;
        list-style-type: none;
        margin: 0;
        width: 100%;
        border-radius: 0;
        li{
          clear: both;
          display: block;
          width: 100% !important;
          margin: 0 !important;
          float: none !important;
          border-radius: 0;
          img.number-list{
            display: inline-block;
            float: left;
            margin: 6px 10px 25px 0;
          }
          a{
            padding: 10px 0;
            font-size: 12px;
            line-height: 14px;
            color: #4D4D4D;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
          a.nav-link.active{
            background-color: #303591!important;
            border-radius: 0;
          }
        }
      }

      .tab-content{
        padding-top: 0!important;
      }

      .wrapper-final-btn{
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        background: #ffffff;
      }

      .standard-btn {
        display: inline-block !important;
        width: 100%;
        margin-top: 0!important;
        margin-bottom: 0!important;

        &__onlyone{
          margin: 0 auto;
          display: block!important;
        }
        &:first-of-type{
          margin-bottom: 20px!important;
        }
        &:last-of-type{
          margin-bottom: 0!important;
        }
      }

      .alert-ico{
        img{
          margin-top: -3px;
        }
      }

      .show-password-group__action{
        top: 27px;
      }
    }

    .modal-body__content__start{}

    .mat-tab-group{
      height: 100%;
      .mat-tab-body-wrapper{
        height: 100%;
        min-height: 400px;
        .mat-tab-body{
          height: 100%;
        }
      }

      .mat-tab-body-content {
        padding: 0 20px;
        height: 100%;
        .mat-form-field{
          width: 100%;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 10px 0;
        }
      }
    }

    .mat-form-field{
      width: 100%;
      .mat-form-field-infix{
        padding: 10px 0;
      }
      mat-form-field-label{}
    }

    .mat-form-field.mat-focused .mat-form-field-label{
      color:#303591;
      font-size: 14px;
    }
  }

  .popover{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 30px 40px 0 rgba(34,35,40,0.2);
    border: 1px solid #ECECEC;
    .arrow{
      border-bottom-color: #ECECEC;
    }
  }

  .wrapper-validator {
    width: 240px;
    font-size: 12px;
    line-height: 1.846;
  }

  .wrapper-validator__result {
    display: inline;
    margin-right: 5px;
  }

  .wrapper-validator__result img {
    padding-bottom: 2px;
  }

  .validation-popover{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 100%;
    &:before{
      content: "";
      width: 10px;
      height: 10px;
      background: white;
      position: absolute;
      top: -5px;
      left: 10px;
      transform: rotate(45deg);
      z-index: 1  ;
    }
    &-container{
      background: white;
      border: 1px solid white;
      padding: 10px;
      border-radius: 5px;
      position: relative;
      -webkit-box-shadow: 0px 0px 80px -17px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 80px -17px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 80px -17px rgba(0,0,0,0.75);
    }
  }

  .color-red{
    color:#DE263C;
    vertical-align: middle;
  }
  .color-blue{
    color:#303591 !important;
    text-decoration: none;
  }

}
.pull{
  &-right{
    float: right;
  }
  &-left{
    float: left;
  }
}

//Quick ricarica
.quick-ricarica{
  p{
    margin: 0;
  }
  input::placeholder{color: red!important;}
  .qr{
    &-header{
      background-color: #f2f2f2;
    }
    &-container{
      padding: 10px;
      &-importo{
        position: relative;
        display: inline;
        .limit-label{
          font-size: 12px;
          line-height: 19px;
          color: #4D4D4D;
        }
        .value{
          color: #4D4D4D;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
        }
      }
    }
    &-title{
      font-weight: bold;
      color: #4D4D4D;
      font-size: 16px;
      line-height: 19px;
      &-block{
        font-size: 14px;
      }
    }
    &-description{
      line-height: 19px;
      font-size: 13px;
      color: #4D4D4D;
    }
    &-label{
      font-size: 14px;
      line-height: 19px;
      color: #3A405B;
    }
    &-modify{
      text-decoration: underline;
    }
    &-input{
      height: 40px;
      width: 100%;
      &-importo{
        width: calc(100% - 120px);
        height: 40px;
        color: #4D4D4D;
        font-size: 14px;
        line-height: 25px;
        display: inline-block;
        box-sizing: border-box;
      }
    }
    &-message-error{
      color: #DC1E35;
      font-size: 14px;
      line-height: 19px;
    }
    &-carte, &-paypal{
      margin-bottom: 20px;
      .half-block{
        width: 50%;
        display: inline-block;
        &.right{
          text-align: right;
          vertical-align: middle;
        }
      }
      .img-block{
        max-width: 50px;
        display: inline-block;
        margin-right: 5px;
        img{
          width: 100%;
        }
        &.onlyImg{
          max-width: none;
        }
      }
      .description-block{
        display: inline-block;
        font-size: 13px;
        color: #000000;
        line-height: 19px;
      }
      .cvv-block{
        color: #696969;
        line-height: 25px;
        .input-cvv{
          max-width: 60px;
          margin-left: 10px;
        }
      }
    }
    &-controlls{
      display: inline-block;
      .qr-button{
        border-radius: 8px;
        background-color: #303590;
        width: 40px;
        height: 40px;
        font-weight: bold;
        line-height: 26px;
        font-size: 20px;
        color: #FFFFFF;
        border: 0;
        text-align: center;
        &:first-child{
          margin: 0 5px;
        }
      }
    }
    &-cta{
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.1);
      background-color: #FCE221;
      padding: 15px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      color: #303590;
      border: 0;
      width: 100%;
      letter-spacing: 0.5px;
    }
    &-close{
      background: none;
      border: 0;
    }
  }
}


/* common style */
.p0 {padding: 0!important;}
.p10 {padding: 10px!important;}
.p20 {padding: 20px!important;}
.p30 {padding: 30px!important;}
.p40 {padding: 40px!important;}
.pt0 {padding-top: 0!important;}
.pt5 {padding-top: 5px!important;}
.pt10 {padding-top: 10px!important;}
.pt20 {padding-top: 20px!important;}
.pt30 {padding-top: 30px!important;}
.pt40 {padding-top: 40px!important;}
.pt50 {padding-top: 50px!important;}
.pt60 {padding-top: 60px!important;}
.pt70 {padding-top: 70px!important;}
.pb0 {padding-bottom: 0px!important;}
.pb5 {padding-bottom: 5px!important;}
.pb10 {padding-bottom: 10px!important;}
.pb20 {padding-bottom: 20px!important;}
.pb30 {padding-bottom: 30px!important;}
.pb40 {padding-bottom: 40px!important;}
.pb50 {padding-bottom: 50px!important;}
.pb65 {padding-bottom: 65px!important;}

.pl0{padding-left: 0px!important;}
.pl10 {padding-left: 10px!important;}
.pl20 {padding-left: 20px!important;}
.pl30 {padding-left: 30px!important;}
.pl40 {padding-left: 40px!important;}
.pl50 {padding-left: 50px!important;}

.pr0{padding-right: 0px!important;}
.pr10 {padding-right: 10px!important;}
.pr20 {padding-right: 20px!important;}
.pr30 {padding-right: 30px!important;}
.pr40 {padding-right: 40px!important;}
.pr50 {padding-right: 50px!important;}

.m0 {margin: 0!important;}
.mt0 {margin-top: 0!important;}
.mt10 {margin-top: 10px!important;}
.mt15 {margin-top: 15px!important;}
.mt20 {margin-top: 20px!important;}
.mt25 {margin-top: 25px!important;}
.mt30 {margin-top: 30px!important;}
.mt40 {margin-top: 40px!important;}
.mt50 {margin-top: 50px!important;}
.mt60 {margin-top: 60px!important;}
.mt65 {margin-top: 65px!important;}
.mt70 {margin-top: 70px!important;}
.mt80 {margin-top: 80px!important;}

.mb0 {margin-bottom: 0!important;}
.mb5 {margin-bottom: 5px!important;}
.mb10 {margin-bottom: 10px!important;}
.mb15 {margin-bottom: 15px!important;}
.mb20 {margin-bottom: 20px!important;}
.mb30 {margin-bottom: 30px!important;}
.mb40 {margin-bottom: 40px!important;}
.mb50 {margin-bottom: 50px!important;}
.mb60 {margin-bottom: 60px!important;}
.mb65 {margin-bottom: 65px!important;}
.mb70 {margin-bottom: 70px!important;}


.ml0 {margin-left: 0!important;}
.ml5 {margin-left: 5px!important;}
.ml10 {margin-left: 10px!important;}
.ml20 {margin-left: 20px!important;}
.ml25 {margin-left: 25px!important;}
.ml30 {margin-left: 30px!important;}
.ml40 {margin-left: 40px!important;}

.mr0 {margin-right: 0!important;}
.mr5 {margin-right: 5px!important;}
.mr10 {margin-right: 10px!important;}
.mr20 {margin-right: 20px!important;}
.mr25 {margin-right: 25px!important;}
.mr30 {margin-right: 30px!important;}
.mr40 {margin-right: 40px!important;}

.text-uppercase{
  text-transform: uppercase;
}

.dinline{display: inline!important;}
.dblock{display: block!important;}
.dinblock{display: inline-block!important;}
.dflex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.col-divider{
  height: 100%;
  width: 1px;
  background-color: #cccccc;
  display: inline-block;
}

.flexbox{display: flex;}
.over-hid{overflow: hidden;}
.clearfix{clear: both!important;}
.text-clock{text-transform: uppercase;}
/* common style */

.mat-form-field-label{
  font-size: 13px!important;
}

.mat-form-field.mat-focused .mat-form-field-label{
  font-weight: bold;
}

.mat-placeholder-required{
  &.mat-form-field-required-marker{
    display: none;
  }
}

//Validazione contatti
.validazione-contatti{
  &-container{
    margin: 0 auto;
    max-width: 320px;
  }
  &-wrapper{
    margin: 0 20px;
  }
  &-header{
    text-align: center;
  }
  &-content{
    background: linear-gradient(180deg, #303590 0%, #434ACC 100%);
    padding: 50px 0 110px;
    color: #FFF;
    &_header{
      text-align: center;
      .img-header{
        margin: 0 auto;
        display: block;
        width: 63px;
        height: 63px;
        &.withOpacity{
          opacity: 0.8;
        }
      }
      .title{
        color: #FFF;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        margin: 0 0 10px 0;
        padding: 0;
      }
    }
    &_block{
      padding: 20px 10px 10px;
      background-color: #fff;
      color: #000;
      margin-top: 35px;
      margin-bottom: 30px;
      border-radius: 5px;
      .introduction-label{
        text-align: center;
        margin: 20px 10px;
        margin-top: 0;
        line-height: 21px;
        font-size: 14px;
        color: #4D4D4D;
      }
      .text-otp{
        text-align: left;
        margin-bottom: 20px;
        line-height: 21px;
        font-size: 14px;
        color: #4D4D4D;
        display: block;
        margin-bottom: 30px;
        .text-blue {
          color: #0C51A1!important;
          text-decoration: none!important;
        }
      }
      .form-group{
        .input-otp{
          border-radius: 0;
          height: 40px;
          width: 100%;
          padding: 0 10px;
          border: 1px solid #E3E8F0;
          box-shadow: none;
          font-size: 14px;
          line-height: 16px;
        }
        .send-again{
          color: #303590;
          cursor: pointer;
          font-size: 12px;
        }
      }
      .cta-container{
        margin-top: 5px;
        button{
          width: 100%;
        }
        button, a{
          border: 1px solid #FFF01E;
          background-color: #FFF01E;
          display: block;
          color: #303591;
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
          text-align: center;
          padding: 10px 20px;
          margin: 0 auto;
          text-decoration: none;
          margin-bottom: 10px;
          &.white{
            border: 1px solid #C0C2DD;
            background-color: #FFFFFF;
            color: #303591;
            &:hover{
              background-color: #D9DBEA;
              border-color: #D9DBEA;
            }
          }
          &.disabled{
            pointer-events: none;
            opacity: 0.7;
          }
          &:hover{
            background-color: #F2E31C;
            border-color: #F2E31C;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .contactType{
        &-container{
          .mat-form-field{
            width: 100%;
            &.readonly{
              .mat-form-field{
                &-label{
                  color: #303591;
                  font-size: 16px;
                  font-weight: bold;
                }
                &-underline{
                  background-color: #303591;
                  height: 2px;
                }
              }
            }
            &.mat-focused{
              .mat-form-field-label{
                color: #303591;
              }
            }
          }
          .verify{
            color: #303591;
            background: none;
            border: none;
            text-decoration: none;
          }
          &:last-child{
            margin-bottom: 10px;
          }
          .radioButton{
            margin-bottom: 20px;
            label{
              font-size: 14px;
            }
          }
        }
      }
    }
    &_footer{
      font-size: 14px;
    }
  }
}
//CARD
.mr-10 {
  margin-right: 10px;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.swiper-wrapper{
  margin: 10px 0;
}

.container-slider{
  // max-width: 280px !important;
  width: calc(100% - 40px)!important;
  min-width: 270px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.1);
}

.new-play-card {
  // max-width: 280px;
  min-width: 270px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  position: relative;
  .wrapper-img {
    // height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    .img-card {
      width: 100%;
      // position: absolute;
      left: 0;
      bottom: -33px;
    }
    // .triangle-bottomright {
    //   width: 0;
    //   height: 0;
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   border-bottom: 20px solid #ffffff;
    //   border-left: 280px solid transparent;
    // }
  }
  .justify-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 15px;
    color: #4E4E4E;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
  }
  .justify-content__head {
    padding-top: 15px;
  }
  .justify-content {
    span.text-casino {
      color: #EBAE1D;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
    }
    img {
      cursor: pointer;
    }
    div {
      div {
        display: flex;
        align-items: center;
        text-align: left;
      }
      img.ico {
        margin-right: 5px;
        max-width: 15px;
      }
    }
  }
  .btn {
    height: 44px;
    width: 114px;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
  }
  .btn--casino {
    border-color: #ECAF1E;
    border-style: solid;
    background-color: #ECAF1E;
    // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}



.timer-container{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 2px 5px 2px 2px;
  margin: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  .timer{
    color: #000;
    position: relative;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    margin-left: 5px;
  }
}

